html {
  font-family: 'Roboto', sans-serif;
  background-color: #303030;
  height: 100%;
}

body {
  height: 100%;
}

#core {
  height: 100%;
}

.cardTitle span {
  color: white !important;
}

.header {
  background-color: black !important;
}